body{
    background-color: rgb(233, 233, 233);
}
.contenedor{
    width: 100%;
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px auto 0px;
    background-color: white;
    padding: 40px;
    border-radius: 5px;
}